/* FONT */

@font-face {
    font-family: MSSans;
    src: url('./Otherassets/MS\ Sans\ Serif\ 8pt.ttf');
}

*{
    font-family: MSSans;
}

/*TITLES*/

.content-title{
    margin: 0;
    padding-bottom: 10px;

    color: white;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);

    font-size: xx-large;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    margin: 0;
    padding: 15px;

    color: white;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    background: linear-gradient(to bottom, #e6f2de 0%,#3f9e00 28%,#3f9e00 28%,#61c419 81%,#b4e391 100%);

    border-radius: 4px;
    border-bottom: 1px solid rgb(107, 107, 107);

    font-size: larger;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-vista{
    margin: 0;

    color: white;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    background: linear-gradient(to bottom, #e6f2de 0%,#3f9e00 28%,#3f9e00 28%,#61c419 81%,#b4e391 100%);

    border-radius: 4px;
    border-bottom: 1px solid rgb(107, 107, 107);

    font-size: larger;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: space-between;
}

.title-vista h1 {
    margin: 0%;
    font-size: larger;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
}
.title-vista button {
    margin: 5px;
    font-size: small;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    float: right;
    background: #f50000;
    background: radial-gradient(circle,rgba(158, 0, 0, 1) 0%, rgba(240, 93, 93, 1) 16%, rgba(242, 133, 133, 1) 39%, rgba(237, 26, 26, 1) 52%);
    padding: 15px;
    border-radius: 10px;
}

.title-vista-blue{
    margin: 0;

    color: white;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    background: linear-gradient(to bottom, #dee6f2 0%,#006dd3 28%,#006dd3 28%,#0065d9 81%,#7caeff 100%);

    border-radius: 4px;
    border-bottom: 1px solid rgb(107, 107, 107);

    font-size: larger;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: space-between;
}

.title-vista-blue h1 {
    margin: 0%;
    font-size: larger;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
}
.title-vista-blue button {
    margin: 5px;
    font-size: small;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    float: right;
    background: #f50000;
    background: radial-gradient(circle,rgba(158, 0, 0, 1) 0%, rgba(240, 93, 93, 1) 16%, rgba(242, 133, 133, 1) 39%, rgba(237, 26, 26, 1) 52%);
    padding: 15px;
    border-radius: 10px;
}

.title-7{
    margin: 0;

    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgb(132, 132, 132);
    background: linear-gradient(to bottom, rgba(239, 244, 255, 0.5) 0%,rgba(226,236,255,1) 48%,rgba(201,223,255,1) 50%,rgba(201,223,255,1) 95%,rgb(140, 172, 247) 98%,rgba(140, 172, 247,1) 100%);
    border-radius: 4px;
    border-bottom: 1px solid rgb(255, 255, 255);

    font-size: larger;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: space-between;
}

.title-7-dark{
    margin: 0;

    color: white;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    background: linear-gradient(to bottom, #8f92ba 0%,#434e69 28%,#434e69 28%,#3b4864 81%,#132950 100%);

    border-radius: 3px;
    border-bottom: 1px solid rgb(107, 107, 107);

    font-size: larger;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: space-between;
}

.title-7 h1, .title-7-dark h1 {
    margin: 0%;
    font-size: larger;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
}

.title-7 button, .title-7-dark button {
    margin: 5px;
    font-size: small;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    float: right;
    background: #f50000;
    background: radial-gradient(circle,rgba(158, 0, 0, 1) 0%, rgba(240, 93, 93, 1) 16%, rgba(242, 133, 133, 1) 39%, rgba(237, 26, 26, 1) 52%);
    padding: 15px;
    border-radius: 10px;
}

.title-xp{
    margin: 0;
    

    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    background: linear-gradient(to bottom, #499bea 10%,#0077e8 17%,#0077e8 79%,#004bed 100%);

    border-radius: 4px;
    border-bottom: 4px solid #004bed;

    display: flex;
    justify-content: space-between;
}

.title-xp h1 {
    margin: 0%;
    font-size: larger;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
}

.title-xp button {
    margin:8px 5px 12px 10px;
    font-size: small;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    float:right;
    background: linear-gradient(to bottom, #ea4949 10%,#e80000 17%,#e80000 70%,#a30000 100%);
    padding: 0px;
    border-radius: 4px;
    width:35px;
    text-align:center;
    font-size:20px;
    border-color:#FFFFFF #ffffff #ffffff #FFFFFF;
    box-shadow: none;
    justify-content: center;
    gap: 0px;
}

.title-95 button img {
    width: 12px;
    min-height: 20px;
}

.title-95-act button img {
    width: 12px;
    min-height: 20px;
}

.title-95{
    user-select: none;
    margin: 0;
    padding: 0px;
    text-align: center;
    vertical-align: middle;

    color: white;
    background-color: #8d8d8d;

    font-size: larger;
    font-weight: 300;
    font-family: MSSans;

    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.title-95-act{
    text-align: center;
    vertical-align: middle;
    user-select: none;
    margin: 0;
    padding: 0px;

    color: white;
    background-color: #000082;

    font-size: larger;
    font-weight: 300;
    font-family: MSSans;
    text-align: center;
    vertical-align: middle;

    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.title-95-act h1 {
    line-height: 23px;
    margin: 0px;
    font-size: large;
    font-weight: 300;
    font-family: MSSans;
    text-align: center;
    vertical-align: middle;
    padding-top: 9px;
    padding-left: 8px;
}

.title-95 h1 {
    line-height: 23px;
    text-align: center;
    vertical-align: middle;
    margin: 0px;
    font-size: large;
    font-weight: 300;
    font-family: MSSans;
    padding-top: 9px;
    padding-left: 8px;
}

.title-95-act button {
    justify-content: right;
    margin:5px 5px 5px 0;
    float:right;
    background:#C0C0C0;
    border-width:3px;
    border-color:#FFFFFF #000000 #000000 #FFFFFF;
    border-style:solid;
    font-size:15px;
    font-weight:bold;
    font-family:MSSans;
    text-align:right;
    text-decoration: none;
    color: black;
    display: flex;
}

.title-95 button {
    justify-content: right;
    margin:5px 5px 5px 0;
    float:right;
    background:#C0C0C0;
    border-width:3px;
    border-color:#FFFFFF #000000 #000000 #FFFFFF;
    border-style:solid;
    font-size:15px;
    font-weight:bold;
    font-family:MSSans;
    text-align:right;
    text-decoration: none;
    color: black;
    display: flex;
}

.title-95-act button:active{
    border-color:#000000 #fffcfc #ffffff #000000;
}

.title-95 button:active{
    border-color:#000000 #fffcfc #ffffff #000000;
}

.title-me{
    margin: 0;
    padding: 0;

    color: white;
    background: linear-gradient(to left,rgb(167, 192, 255), rgb(0, 7, 100));

    font-size: larger;
    font-weight: 300;
    font-family: MSSans;

    display: flex;
    justify-content: space-between;
}
.title-me h1 {
    margin: 0%;
    font-size: larger;
    font-weight: 300;
    font-family: MSSans;
    padding: 5px
}
.title-me button {
    margin:5px 5px 5px 0;
    float:right;
    background:#C0C0C0;
    border-width:3px;
    border-color:#FFFFFF #000000 #000000 #FFFFFF;
    border-style:solid;
    font-size:15px;
    font-weight:bold;
    font-family:MSSans;
    text-align:center;
    text-decoration: none;
    color: black;
}
.title-me button:active{
    border-color:#000000 #fffcfc #ffffff #000000;
}

/*SUBTITLES*/

.subtitle{
    margin: 15px;
    padding: 0;

    color: #61c419;
    text-shadow: 0px 0px 10px rgba(30, 255, 0, 0.438);

    font-size: x-large;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subtitle-vista{
    margin: 15px;
    padding: 0;

    color: #61c419;
    text-shadow: 0px 0px 10px rgba(30, 255, 0, 0.438);

    font-size: x-large;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subtitle-vista-blue{
    margin: 15px;
    padding: 0;

    color: #0084ff;
    text-shadow: 0px 0px 10px rgb(90, 156, 248);

    font-size: x-large;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.subtitle-7{
    margin: 15px;
    padding: 0;

    color: #7492c670;
    text-shadow: 0px 0px 10px rgba(142, 178, 236, 0.438);

    font-size: x-large;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subtitle-7-dark{
    margin: 15px;
    padding: 0;

    color: #1f283670;
    text-shadow: 0px 0px 10px rgba(108, 133, 173, 0.438);

    font-size: x-large;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subtitle-xp{
    margin: 15px;
    padding: 0;

    color: #0077e8;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

    font-size: x-large;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subtitle-95{
    margin: 0;
    padding: 15px;

    color: #000082;

    font-size: x-large;
    font-weight: 400;
    font-family: MSSans;
}

/*TEXT*/

.text{
    margin: 15px;
    padding: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text-95{
    margin: 15px;
    padding: 0;

    font-family: MSSans;
}

/*BUTTNOS*/

.button{
    margin-bottom: 15px;
    border: 1px solid rgb(107, 107, 107);
    border-radius: 4px;

    padding: 10px;
    background-color: rgba(255, 255, 255, 0.199);
    box-shadow: rgba(255, 255, 255, 0.253) inset 0px 0px 10px 5px, rgba(128, 128, 128, 0.068) 0px 0px 2px 5px;
    

    backdrop-filter: blur(3px);
}
.button:hover{
    margin-bottom: 15px;
    border: 1px solid rgb(107, 107, 107);
    border-radius: 4px;

    padding: 10px;
    background-color: rgba(123, 255, 96, 0.199);
    box-shadow: rgba(255, 255, 255, 0.253) inset 0px 0px 10px 5px, rgba(128, 128, 128, 0.068) 0px 0px 2px 5px;
    

    backdrop-filter: blur(3px);
}

.button-95 {
    margin: 10px;
    background:#C0C0C0;
    border-width:3px;
    border-color:#FFFFFF #000000 #000000 #FFFFFF;
    border-style:solid;
    font-size:15px;
    font-weight:bold;
    font-family:MSSans;
    text-align:center;
    text-decoration: none;
    color: black;
    padding: 8px;
}
.button-95:active{
    border-color:#000000 #fffcfc #ffffff #000000;
}

/*Forms*/
.forms-7{
    transform: translate(0%, 75%);
    flex: content;
    width: 25%;
    margin: auto;
    justify-content: center;
    align-content: center;
    margin-bottom: 15px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 7px;

    padding: 10px ;
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0) ;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.685) 0%,rgba(229, 229, 229, 0.676) 16%,rgba(229, 229, 229, 0.616) 17%,rgba(244, 244, 244, 0.749) 20%,rgba(255, 255, 255, 0.868) 45%,rgba(255,255,255,0.5) 48%,rgba(255,255,255,0.5) 61%,rgba(247,247,247,1) 64%,rgba(234,234,234,1) 87%,rgba(255, 255, 255, 0.498) 92%,rgba(255, 255, 255, 0.502) 100%);

    backdrop-filter: blur(3px);
}

.forms-95{
    transform: translate(0%, 75%);
    flex: content;
    width: 40%;
    margin: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;

    background:#a0a0a0;
    border-width:3px;
    border-color:#FFFFFF #000000 #000000 #FFFFFF;
    border-style:solid;
    padding:0px;

}

.forms-inside{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 0px;

    border: 1px solid rgb(107, 107, 107);
    border-radius: 4px;

    background-color: white;
    
}

.input{
    text-align: center;
    width: 80%;
    margin: 15px;
    padding: 0;

    font-family: MSSans;
}
/*UTIL*/

.content-inside{
    margin: 0px;
    padding: 0px;

    border: 1px solid rgb(107, 107, 107);
    border-radius: 4px;

    background-color: white;
    
}

.content-inside-7{
    margin: 0px;
    padding: 0px;
    

    border-radius: 6px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.32) 0px 0px 5px 5px;

    background-color: white;
    
    backdrop-filter: blur(3px);
    padding-bottom: 5px;
}

.content-inside-xp{
    margin: 0px;
    padding: 0px;

    border-left: 1px solid #0077e8;
    border-right: 1px solid #0077e8;
    border-bottom: 1px solid #0077e8;
    border-radius: 10px;

    background-color: white;
}

.content-inside-95{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;

    background-color: #c3c3c3;
    font-family: MSSans;
    font-size: medium;
}


.CMD{
    display: flex;
    flex: 1;
    flex-direction: column;
    border-style:solid;
    border-width: 3px;
    border-color:#4b4b4b #ffffff #ffffff #4b4b4b;
    
    margin: 5px;
    background-color: rgb(0, 0, 0);
    height: fit-content;
    width: calc( 100% - 17px);
    height: calc(100% - 53px);
    color: white;
}

.CMD p {
    color: white;
    font-family: monospace;
    font-weight: 100;
}

.CMD pre{
    white-space: pre;
    font-family: monospace;
    color: white;
}

.butt-95{
    font-size: medium;
    background-color: #00000000;
    border: #00000000;  
    padding-top: 3px;
    padding-left: 8px;  
}
.divcontent-95{
    display: flex;
    flex-direction: column;
    padding: 0px;
    border-style:solid;
    margin: 5px;
    line-height: 0px;
    gap: 0px;
}
.noborder{
    border-color: #00000000;
    border-width: 0px;
}
.divcontentfilesinfo{
    display: flex;
}
.Contentfiles-95{
    padding-left: 5px;
    background-color: white;
    height: 100px;
}
.bottomcontentinfo-95{
    line-height: 0px;
    display: grid;
    grid-auto-flow: column;
}
.bottomcontentinfo-95 > button{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    background-color: #00000000;
    border: solid;
    border-width: 2px;
    border-color:#FFFFFF #000000 #000000 #FFFFFF;
}

.content{
    margin-bottom: 15px;
    border: 1px solid rgb(107, 107, 107);
    border-radius: 4px;

    padding: 10px;
    background-color: rgba(255, 255, 255, 0.199);
    box-shadow: rgba(255, 255, 255, 0.253) inset 0px 0px 10px 5px, rgba(128, 128, 128, 0.068) 0px 0px 2px 5px;
    

    backdrop-filter: blur(3px);
}

.content-7{
    margin-bottom: 15px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 7px;

    padding: 10px;
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0) ;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.685) 0%,rgba(229, 229, 229, 0.676) 16%,rgba(229, 229, 229, 0.616) 17%,rgba(244, 244, 244, 0.749) 20%,rgba(255, 255, 255, 0.868) 45%,rgba(255,255,255,0.5) 48%,rgba(255,255,255,0.5) 61%,rgba(247,247,247,1) 64%,rgba(234,234,234,1) 87%,rgba(255, 255, 255, 0.498) 92%,rgba(255, 255, 255, 0.502) 100%);

    backdrop-filter: blur(3px);
}

.content-xp{
    margin-bottom: 15px;
    border-left: 6px solid #0077e8;
    border-right: 6px solid #0077e8;
    border-bottom: 6px solid #0077e8;
    border-radius: 15px;

    box-shadow: rgba(128, 128, 128, 0.253) inset 0px 0px 10px 5px, rgba(128, 128, 128, 0.068) 0px 0px 2px 5px;
    

    backdrop-filter: blur(3px);
}

.content-95{
    position: fixed;
    margin: 0px;
    border-width:3px;
    border-color:#FFFFFF #000000 #000000 #FFFFFF;
    border-style:solid;
    padding:0px;
    background-color: #c3c3c3;
}
.content-95.active{
    visibility: hidden;
}

.spacing{
    margin: 15px;
}

.image-bk{
    background-image: url(./Images/Wallpapers/miscellaneous_5.jpg);
    background-repeat: no-repeat;
    background-size: 220vh;

    background-position: center;
    background-attachment: fixed;
}

.xp-bk{
    background-image: url(./Images/Wallpapers/Windows-XP.jpg);
    background-repeat: no-repeat;
    background-size: 220vh;

    background-position: center;
    background-attachment: fixed;
}

.nine-bk{
    margin: 0;
    background-color: #008080;
}

.top-7{
    position:relative;
    display: flex;
    justify-content: end;
    align-items: end;
}

/*POP UPS*/

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.overlay.active{
    visibility: visible;
    opacity: 1;
}

.overlay_desktop{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 50%;
    visibility: visible;
    opacity: 1;   
}

.overlay_desktop.active{
    visibility: hidden;
    opacity: 0;
}

.overlay_taskbar{
    position: fixed;
    display: flex;
    justify-content: left;
    align-items:end;
    bottom: 42px;
    visibility: hidden;
    opacity: 0;
}

.overlay_taskbar.active{
    position: fixed;
    display: flex;
    justify-content: left;
    align-items:end;
    bottom: 42px;
    opacity: 1;
    visibility: visible;
}

.windows95-taskbar-menu-title{
    background-color: #7b7d7b;
    width: 50px;
    height: 100%;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    justify-content: flex-end;
    align-items:end;
    bottom: 0px;
}
.windows95-taskbar-menu{
    float: left;
    width: 75%;
    height: 100%;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    justify-content: left;
    bottom: 0px;

}

.windows95-taskbar-menu > button{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    padding: 5px;
    width: 100%;
    border: none;
    background-color: #00000000;
    gap: 5px;
    align-items: center;
    justify-content: left;
}

.windows95-taskbar-menu > button:hover{
    background: #000082;
    color: white;
}

.windows95-taskbar-menu > button > img{
    height: 35px;
}

.Columns{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0px;
    float: left;
}

/* Task Buttons */
.buttontask{
    opacity: 1;
    visibility: visible;
}

.buttontask.active{
    width: 0px;
    margin: 0px;
    padding: 0px;
    opacity: 0;
    visibility: hidden;
    position:absolute;
}

.popup{
    justify-content: center;
    align-content: center;
    margin-bottom: 15px;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;

    background:#a0a0a0;
    border-width:3px;
    border-color:#FFFFFF #000000 #000000 #FFFFFF;
    border-style:solid;
    padding:0px;


}

/* Taskbar */

.footer-95{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0px;
    padding: 3px;
    background-color: #c3c3c3;
    border-color:#FFFFFF #c3c3c3 #c3c3c3 #FFFFFF;
    border-bottom: 0px;
    border-style:solid;
    font-family: MSSans;
}

.footer-95 button{
    align-items: center;
    text-align: center;
    justify-content: center;

    background:#c3c3c3;
    border-width:2px;
    border-color:#FFFFFF #000000 #000000 #FFFFFF;
    border-style:solid;
    gap: 5px;
    height: 32px;
    font-family: MSSans;
}
.b-start-95:active{
    border-color:#000000 #fffcfc #ffffff #000000;
}

.footer-95 button:active{
    border-color:#000000 #fffcfc #ffffff #000000;
}

.footer-95 button img {
    width: 26px;
    height: 26px;
    vertical-align: middle;
}
.footer-95 button span{
    width: 26px;
    height: 26px;
    vertical-align: middle;
}

/* Desktop */
.Desktop{
    user-select: none;
    position: fixed;
    display: flex;
    margin: 5px;
    font-family: MSSans;
    padding: 0px;
    background-size: 4em 4em;
}
.Desktop button{
    text-align: center;
    justify-content: center;
    width: 80px;
    min-height: 70px;
    margin: 0px;
    padding: 0px;
    margin-bottom: .9rem;
    cursor: default;
    background-color: transparent;
    border-color: transparent;
    color: white;
    border-width: 1px;
}

.Desktop button img {
    user-select: none;
    width: 40px;
    height: 40px;
    image-rendering:pixelated;
}

.Desktop button:hover{
    background-color: rgba(255, 255, 255, 0.199);
    border-style:solid;
    border-color:#00000067;
    border-width: 1px;
}

  #container{
    background-color:#00000000 ;
    background-size: 4em 4em;
    top: 200px;
  }
  
  #card{
    position: fixed;
  }
  #card0{
    position: fixed;
  }
  #card1{
    position: fixed;
  }
  #card2{
    position: fixed;
  }
  #card4{
    position: fixed;
  }
    #card5{
    position: fixed;
  }
    #card6{
    position: fixed;
  }

/* Items */
.item-papelera{
    position: fixed;
    top: 10px;
    width: 80px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0);
    user-select: none;
    border: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px;
    color: white;
    text-align: center;
    opacity: 100%;
    font-family: MSSans;
    text-wrap: wrap;
    word-wrap: break-word;
}

.item-papelera samp{
    font-family: MSSans;
    text-wrap: wrap;
    word-wrap: break-word;
}

.item-papelera.moving{
    position: fixed;
    top: 10px;
    width: 80px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0);
    user-select: none;
    border: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px;
    color: white;
    text-align: center;
    opacity: 50%;
}

.item-papelera img{
    image-rendering: pixelated;
}

#rightmenu {
    position: fixed;
    background-color: ghostwhite;
    color: black;
    text-align: left;
    font-family: MSSans;
    cursor: pointer;
    border-color:#FFFFFF #000000 #000000 #FFFFFF;
    border-style: solid;
    border-width: 3px;
    padding: 0px;
    margin: 0px;
    background-color: #c3c3c3;
    line-height: 0px;

    display: inline-block;
    max-width: 180px;
}   

#rightmenu > p {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 2px;
    image-rendering: pixelated;   

}

#rightmenu > button {
    width: 100%;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 2px;
    font-size: 12px;
    white-space: nowrap;
    background-color: #00000000;
    text-align: left;
    justify-content: center;
    align-items: center;
    vertical-align:middle;
}

#rightmenu > button > img{
    margin: 0px;
    padding-right: 5px;
    width: 32px;
    image-rendering: pixelated;  
    justify-content: center;
    align-items: center; 
    vertical-align:middle;
    image-rendering: crisp-edges;
}

.black{
    filter: brightness(0);
}

#rightmenu > p:hover {
    background: #000082;
    color: white;
}

#rightmenu > button:hover {
    color: white;
    background: #000082;
}

#rightmenu button:hover img{
    filter: invert();
}

.content-inside-95-error {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;

    border-style:solid;
    border-width: 3px;
    border-color:#FFFFFF #000000 #000000 #FFFFFF;

    background-color: #c3c3c3;
    font-family: MSSans;
    font-size: medium;

    padding: 0px;
    margin: 5px;

    position: fixed;

    top: 30%;
    left: 40%;
}

.content-inside-95-error-flex {
    padding: 5px;
    gap: 10px;
    display: flex;
}
.inside-row{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
}
.inside-row-spaced{
    gap: 0;
    line-height: 0;
    width: 100%;
}
.inside-row-spaced-child{
    float: left;
    width: 50%;
    gap: 0;
    line-height: 0;
}

.inside-row-border{
    padding: 0px;
    margin: 10px;
    display: flex;
    flex-direction: row;

    border-style:solid;
    border-width: 3px;
    border-color:#FFFFFF #000000 #000000 #FFFFFF;
}
.inside-row-border > button{
    background-color: #00000000;
    border-style: none;
    width: 80px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 15px;
}
.inside-row-border > button:hover{
    background: #000082;
    color: white;
}
.inside-row-border > p{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}
.textrow{
    margin: 1px;
    padding: 5px;

    font-size: 15px;
    font-family: MSSans;
    background-color: #00000000;
    border: #00000000;
}
.textrow:hover{
    background: #000082;
    color: white;
}
.textbutt{
    text-align: left;
    cursor: pointer;
    line-height: 0px;
    font-size: 15px;
    background-color:#00000000;
    border: #00000000;
    margin: 0;
    padding: 0;
    width: 97%;
}
.textbutt:hover{
    background: #000082;
    color: white;
}

.files-explorer-interior{
    display: flex;
    flex: 1;
    flex-direction: row;
    border-style:solid;
    border-width: 3px;
    border-color:#000000 #ffffff #ffffff #000000;
    
    margin: 3px;
    padding: 2px;
    background-color: white;
    height: fit-content;
    width: calc( 100% - 17px);
    height: 100%;
}
.files-explorer-items{
    padding: 0px;
    margin: 0px;
    width: 80px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0);
    user-select: none;
    border: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px;
    color: rgb(0, 0, 0);
    text-align: center;
    justify-content: center;
    text-wrap: wrap;
    word-wrap: break-word;
}
.files-explorer-items > p {
    text-align: center;
    text-wrap: wrap;
}
.files-explorer-items > img {
    width: 35px;
    image-rendering: pixelated;   
}
.files-explorer-items:hover {
    background: #000082;
    color: white;
}

.folder-explorer-interior{
    display: flex;
    flex-direction: column;
    border-style:solid;
    border-width: 3px;
    border-color:#000000 #ffffff #ffffff #000000;
    
    margin: 3px;
    padding: 2px;
    background-color: white;
    height: fit-content;
    width: calc( 100% - 17px);
    justify-content: start;
}
.fe-b{
    text-align: start;
    border: #00000000;
    background-color: #00000000;
}
.fe-b:hover{
    background-color: #000082;
    color: white;
}
.fe-b > img{
    height: 20px;
}
.fe-col{
    display: flex;
    flex-direction: column;
    float: left;
}

.title-explorer{
    padding: 0px;
    margin: 0px;
    border-style:solid;
    border-width: 3px;
    border-color:#6e6e6e #ffffff #ffffff #6e6e6e;
}

.title-explorer > p{
    line-height: 5px
}