/*TITLES*/

.content-title{
    margin: 0;
    padding-bottom: 10px;

    color: white;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);

    font-size: xx-large;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    margin: 0;
    padding: 15px;

    color: white;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    background: linear-gradient(to bottom, #e6f2de 0%,#3f9e00 28%,#3f9e00 28%,#61c419 81%,#b4e391 100%);

    border-radius: 4px;
    border-bottom: 1px solid rgb(107, 107, 107);

    font-size: larger;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-vista{
    margin: 0;

    color: white;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    background: linear-gradient(to bottom, #e6f2de 0%,#3f9e00 28%,#3f9e00 28%,#61c419 81%,#b4e391 100%);

    border-radius: 4px;
    border-bottom: 1px solid rgb(107, 107, 107);

    font-size: larger;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: space-between;
}

.title-vista h1 {
    margin: 0%;
    font-size: larger;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
}
.title-vista a {
    margin: 5px;
    font-size: small;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    float: right;
    background: #f50000;
    background: radial-gradient(circle,rgba(158, 0, 0, 1) 0%, rgba(240, 93, 93, 1) 16%, rgba(242, 133, 133, 1) 39%, rgba(237, 26, 26, 1) 52%);
    padding: 15px;
    border-radius: 10px;
}

.title-vista-blue{
    margin: 0;

    color: white;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    background: linear-gradient(to bottom, #dee6f2 0%,#006dd3 28%,#006dd3 28%,#0065d9 81%,#7caeff 100%);

    border-radius: 4px;
    border-bottom: 1px solid rgb(107, 107, 107);

    font-size: larger;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: space-between;
}

.title-vista-blue h1 {
    margin: 0%;
    font-size: larger;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
}
.title-vista-blue a {
    margin: 5px;
    font-size: small;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    float: right;
    background: #f50000;
    background: radial-gradient(circle,rgba(158, 0, 0, 1) 0%, rgba(240, 93, 93, 1) 16%, rgba(242, 133, 133, 1) 39%, rgba(237, 26, 26, 1) 52%);
    padding: 15px;
    border-radius: 10px;
}

.title-7{
    margin: 0;

    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgb(132, 132, 132);
    background: linear-gradient(to bottom, rgba(239,244,255,1) 0%,rgba(226,236,255,1) 48%,rgba(201,223,255,1) 50%,rgba(201,223,255,1) 95%,rgb(140, 172, 247) 98%,rgba(140, 172, 247,1) 100%);
    border-radius: 4px;
    border-bottom: 1px solid rgb(255, 255, 255);

    font-size: larger;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: space-between;
}

.title-7-dark{
    margin: 0;

    color: white;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    background: linear-gradient(to bottom, #8f92ba 0%,#434e69 28%,#434e69 28%,#3b4864 81%,#132950 100%);

    border-radius: 3px;
    border-bottom: 1px solid rgb(107, 107, 107);

    font-size: larger;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: space-between;
}

.title-7 h1, .title-7-dark h1 {
    margin: 0%;
    font-size: larger;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
}

.title-7 a, .title-7-dark a {
    margin: 5px;
    font-size: small;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    float: right;
    background: #f50000;
    background: radial-gradient(circle,rgba(158, 0, 0, 1) 0%, rgba(240, 93, 93, 1) 16%, rgba(242, 133, 133, 1) 39%, rgba(237, 26, 26, 1) 52%);
    padding: 15px;
    border-radius: 10px;
}

.title-xp{
    margin: 0;
    

    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    background: linear-gradient(to bottom, #499bea 10%,#0077e8 17%,#0077e8 79%,#004bed 100%);

    border-radius: 4px;
    border-bottom: 4px solid #004bed;

    display: flex;
    justify-content: space-between;
}

.title-xp h1 {
    margin: 0%;
    font-size: larger;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
}

.title-xp button {
    margin:9px 5px 9px 0;
    font-size: small;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    float:right;
    background: linear-gradient(to bottom, #ea4949 10%,#e80000 17%,#e80000 70%,#a30000 100%);
    padding: 0px;
    border-radius: 7px;
    width:35px;
    text-align:center;
    font-size:20px;
}

.title-95{
    margin: 0;
    padding: 0;

    color: white;
    background-color: #000082;

    font-size: larger;
    font-weight: 550;
    font-family: Tahoma;

    display: flex;
    justify-content: space-between;
}

.title-95 h1 {
    margin: 0%;
    font-size: larger;
    font-weight: 600;
    font-family: Tahoma;
    padding: 5px
}

.title-95 button {
    margin:5px 5px 5px 0;
    float:right;
    background:#C0C0C0;
    border-width:3px;
    border-color:#FFFFFF #000000 #000000 #FFFFFF;
    border-style:solid;
    font-size:15px;
    font-weight:bold;
    font-family:Tahoma;
    text-align:center;
    text-decoration: none;
    color: black;
}

.title-95 button:active{
    border-color:#000000 #fffcfc #ffffff #000000;
}


/*SUBTITLES*/

.subtitle{
    margin: 15px;
    padding: 0;

    color: #61c419;
    text-shadow: 0px 0px 10px rgba(30, 255, 0, 0.438);

    font-size: x-large;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subtitle-vista{
    margin: 15px;
    padding: 0;

    color: #61c419;
    text-shadow: 0px 0px 10px rgba(30, 255, 0, 0.438);

    font-size: x-large;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subtitle-vista-blue{
    margin: 15px;
    padding: 0;

    color: #0084ff;
    text-shadow: 0px 0px 10px rgb(90, 156, 248);

    font-size: x-large;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.subtitle-7{
    margin: 15px;
    padding: 0;

    color: #7492c670;
    text-shadow: 0px 0px 10px rgba(142, 178, 236, 0.438);

    font-size: x-large;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subtitle-7-dark{
    margin: 15px;
    padding: 0;

    color: #1f283670;
    text-shadow: 0px 0px 10px rgba(108, 133, 173, 0.438);

    font-size: x-large;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subtitle-xp{
    margin: 15px;
    padding: 0;

    color: #0077e8;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

    font-size: x-large;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subtitle-95{
    margin: 15px;
    padding: 0;

    color: #000082;

    font-size: x-large;
    font-weight: 400;
    font-family: Helvetica;
}

/*TEXT*/

.text{
    margin: 15px;
    padding: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text-95{
    margin: 15px;
    padding: 0;

    font-family: Helvetica;
}

/*BUTTNOS*/

.button{
    margin-bottom: 15px;
    border: 1px solid rgb(107, 107, 107);
    border-radius: 4px;

    padding: 10px;
    background-color: rgba(255, 255, 255, 0.199);
    box-shadow: rgba(255, 255, 255, 0.253) inset 0px 0px 10px 5px, rgba(128, 128, 128, 0.068) 0px 0px 2px 5px;
    

    backdrop-filter: blur(3px);
}
.button:hover{
    margin-bottom: 15px;
    border: 1px solid rgb(107, 107, 107);
    border-radius: 4px;

    padding: 10px;
    background-color: rgba(123, 255, 96, 0.199);
    box-shadow: rgba(255, 255, 255, 0.253) inset 0px 0px 10px 5px, rgba(128, 128, 128, 0.068) 0px 0px 2px 5px;
    

    backdrop-filter: blur(3px);
}

/*Forms*/
.forms-7{
    transform: translate(0%, 75%);
    flex: content;
    width: 25%;
    margin: auto;
    justify-content: center;
    align-content: center;
    margin-bottom: 15px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 7px;

    padding: 10px ;
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0) ;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.685) 0%,rgba(229, 229, 229, 0.676) 16%,rgba(229, 229, 229, 0.616) 17%,rgba(244, 244, 244, 0.749) 20%,rgba(255, 255, 255, 0.868) 45%,rgba(255,255,255,0.5) 48%,rgba(255,255,255,0.5) 61%,rgba(247,247,247,1) 64%,rgba(234,234,234,1) 87%,rgba(255, 255, 255, 0.498) 92%,rgba(255, 255, 255, 0.502) 100%);

    backdrop-filter: blur(3px);
}

.forms-inside{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 0px;

    border: 1px solid rgb(107, 107, 107);
    border-radius: 4px;

    background-color: white;
    
}

.input{
    text-align: center;
    width: 80%;
    margin: 15px;
    padding: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*UTIL*/

.content-inside{
    margin: 0px;
    padding: 0px;

    border: 1px solid rgb(107, 107, 107);
    border-radius: 4px;

    background-color: white;
    
}

.content-inside-7{
    margin: 0px;
    padding: 0px;
    

    border-radius: 6px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.32) 0px 0px 5px 5px;

    background-color: white;
    
    backdrop-filter: blur(3px);
    padding-bottom: 5px;
}

.content-inside-xp{
    margin: 0px;
    padding: 0px;

    border-left: 1px solid #0077e8;
    border-right: 1px solid #0077e8;
    border-bottom: 1px solid #0077e8;
    border-radius: 10px;

    background-color: white;
}

.content-inside-95{
    margin: 0px;
    padding: 0px;


    border-bottom: 1px solid #c3c3c3;

    background-color: #c3c3c3;
}


.content{
    margin-bottom: 15px;
    border: 1px solid rgb(107, 107, 107);
    border-radius: 4px;

    padding: 10px;
    background-color: rgba(255, 255, 255, 0.199);
    box-shadow: rgba(255, 255, 255, 0.253) inset 0px 0px 10px 5px, rgba(128, 128, 128, 0.068) 0px 0px 2px 5px;
    

    backdrop-filter: blur(3px);
}

.content-7{
    margin-bottom: 15px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 7px;

    padding: 10px;
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0) ;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.685) 0%,rgba(229, 229, 229, 0.676) 16%,rgba(229, 229, 229, 0.616) 17%,rgba(244, 244, 244, 0.749) 20%,rgba(255, 255, 255, 0.868) 45%,rgba(255,255,255,0.5) 48%,rgba(255,255,255,0.5) 61%,rgba(247,247,247,1) 64%,rgba(234,234,234,1) 87%,rgba(255, 255, 255, 0.498) 92%,rgba(255, 255, 255, 0.502) 100%);

    backdrop-filter: blur(3px);
}

.content-xp{
    margin-bottom: 15px;
    border-left: 6px solid #0077e8;
    border-right: 6px solid #0077e8;
    border-bottom: 6px solid #0077e8;
    border-radius: 15px;

    box-shadow: rgba(128, 128, 128, 0.253) inset 0px 0px 10px 5px, rgba(128, 128, 128, 0.068) 0px 0px 2px 5px;
    

    backdrop-filter: blur(3px);
}

.content-95{
    margin: 0px;
    background:#a0a0a0;
    border-width:3px;
    border-color:#FFFFFF #000000 #000000 #FFFFFF;
    border-style:solid;
    padding:0px;
}

.spacing{
    margin: 15px;
}

.image-bk{
    background-image: url(miscellaneous_5.jpg);
    background-repeat: no-repeat;
    background-size: 220vh;

    background-position: center;
    background-attachment: fixed;
}

.xp-bk{
    background-image: url(Windows-XP.jpg);
    background-repeat: no-repeat;
    background-size: 220vh;

    background-position: center;
    background-attachment: fixed;
}

.nine-bk{
    background-color: #008080;
}

.top-7{
    position:relative;
    display: flex;
    justify-content: end;
    align-items: end;
}
